.menu{
	height: 120rpx;
	.picker{
		
	}
}
.canvas {
    width: 100%;
    height: 300px;
    margin-top: 40rpx;
}
.edit{
	width: 80rpx;
	height: 80rpx;
	position: fixed;
	bottom:100rpx;
	right: 100rpx;
	border-radius: 100%;
	border:1px solid #cecece;
}